@import url('https://fonts.googleapis.com/css?family=Karla');

/* General elements */
html,
body {
	margin: 0;
	background-color: #f8f8f8;
	color: #262626;
	height: 100%;

}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	font-family: 'Karla', sans-serif;
}


a {
	color: #337ab7;
	text-decoration: none;
}

/* img {
    display: block;
} */

form {
	text-align: center;
}

#container {
	position: relative;
	min-height: 100%;
}

main {
	margin-top: 80px;
	padding-bottom: 30rem;
}

video,
.video-filter,
.snapshot-img,
#output {
	position: absolute;
	right: 20px;

}

.wrapper {
	position: relative;
}

button,
select {
	text-transform: none;
}

button,
input {
	overflow: visible;
}

button {
	margin: 0;
	font-family: inherit;
}

.fabutton {
	background: none;
	padding: 0px;
	border: none;
}

footer {
	border-top: 1px solid #e7e7e7;
	background-color: white;
	color: #ccc;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 24rem;
}

/* Layouts */

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.inline {
	display: inline-block;
}

/* Create four equal columns that sits next to each other */
.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}

.liked {
	color: #f20000;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:focus {
	outline: 0.5rem auto #4d90fe;
}

/* HEADER */
.navbar {
	width: 100vw;
	box-sizing: border-box;
	margin-bottom: 20px;
	background-color: white;
	position: fixed;
	top: 0px;
	height: 60px;
	border: 1px solid #e7e7e7;
	display: block;
	z-index: 10000;
}

.navbar-brand {
	color: #777;
	float: left;
}

.navbar-menu {
	height: 50px;
}

/* Texts */

.center {
	text-align: center;
}

.white {
	color: white;
}

.filter-name {
	color: #262626;
}

.error-msg {
	color: #f20000;
}

.success-msg {
	color: #4BB543;
}

.input {
	width: 50%;
	margin: 0 0 10px 0;
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	vertical-align: middle;
	box-sizing: border-box;
}

.comment-input {
	width: 80%;
	height: 38px;
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	vertical-align: middle;
	box-sizing: border-box;
}

.title {
	color: #777;
	line-height: 20px;
}

/* Images */

.profil-pic {
	width: 150px;
	height: 10px;
}

.filter-preview {
	transition: box-shadow .3s;
	margin: 10px;
	border-radius: 5%;
}

.filter-preview:hover {
	box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.selected {
	box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.filter-preview img {
	position: absolute;
	top: 20px;
}

.video-filter {
	z-index: 2;
}

/*#output {*/
/*position: absolute;*/
/*top: 22vh;*/
/*left: 0;*/
/*right: 0;*/
/*margin: auto;*/
/*}*/

/* Icons */

.far,
.fa-video {
	color: #777 !important;
	margin: 5px 10px 0 10px;
}

.far:hoover,
.fa-video:hoover {
	color: rgb(46, 49, 49);
}

/* Containers */

#form {
	display: none;
}

.comment-container {
	margin: 10px;
	padding-top: .5rem;
	padding-bottom: .5rem;
	box-sizing: border-box;
}

#header {
	padding: 10px;
}

#body {
	padding-bottom: 20rem;
}

.studio-box {
	position: relative;
	width: 80vw;
	height: 1000px;
	margin: auto;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
}

.post-box {
	width: 70%;
	margin: 100px auto 0 auto;
	padding: 20px;
}

#content {
	position: relative;
	padding: 120px 0 0 0;
}

.footer-child {
	float: left;
	width: 25%;
}

.inner {
	position: relative;
	width: 70%;
	max-width: 100%;
	margin: 0 auto;
	padding-left: 70px;
	padding-right: 70px;
	clear: both;
}

#footer-links {
	position: relative;
	top: 25%;
	left: 25%;
	width: 75%;
}

.wrapper-box {
	padding-top: 100px;
	width: 70%;
	min-width: 310px;
	max-width: 600px;
	margin: auto;
}

/* BUTTONS */

.delete-post-btn {
	float: right;
	margin-bottom: 10px;
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;

}

.transparent {
	background-color: transparent;
	border: none;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.action-buttons {
	color: #777;
	float: right;
	height: 60px;
	padding: 18px 0 0 15px;
}

.login-button {
	padding: 0 5px;
	color: #777;
	transition: background-color 0.5s ease-in;
}

.login-button:hoover {
	color: black;
}

#studio-btns {
	text-align: center;
}

/* Gallery things */

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
	padding: 5rem 0;
}

.profile::after {
	content: "";
	display: block;
	clear: both;
}

.profile-image {
	float: left;
	width: calc(33.333% - 1rem);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3rem;
}

.profile-image img {
	border-radius: 50%;
	display: block;
	width: auto;
	height: auto;
}

.profile-user-settings {
	margin-top: 1.1rem;
}

.profile-user-settings>a {
	color: black;
	float: right;
}

.profile-user-name {
	display: inline-block;
	font-weight: 300;
}

.profile-edit-btn {
	line-height: 1.8;
	border: 0.1rem solid #dbdbdb;
	border-radius: 0.3rem;
	padding: 0 2.4rem;
	margin-left: 2rem;
}

.profile-settings-btn {
	margin-left: 1rem;
}

.profile-stats {
	margin-top: 2.3rem;
}

.profile-stats li {
	display: inline-block;
	line-height: 1.5;
	margin-right: 4rem;
	cursor: pointer;
}

.profile-stats li:last-of-type {
	margin-right: 0;
}

.profile-bio {
	font-weight: 400;
	line-height: 1.5;
	margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
	font-weight: 600;
}

/* Gallery Section */

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
	padding-bottom: 3rem;
}

.gallery-item {
	position: relative;
	flex: 1 0 22rem;
	margin: 1rem;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
	display: none;
}

.gallery-item-info li {
	display: inline-block;
	font-weight: 600;
}

.gallery-item-likes {
	margin-right: 2.2rem;
}

.gallery-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-comment {
	height: 48px;
	width: 48px;
	float: left;
	position: relative;
	border-radius: 100%;
}

/* Loader */

.loader {
	width: 5rem;
	height: 5rem;
	border: 0.6rem solid #999;
	border-bottom-color: transparent;
	border-radius: 50%;
	margin: 0 auto;
	animation: loader 500ms linear infinite;
}

.padded-item {
	margin: 5px;
	padding: 10px;
}

/* Media Query */

@media screen and (max-width: 40rem) {
	.profile {
		display: flex;
		flex-wrap: wrap;
		padding: 4rem 0;
	}

	.profile::after {
		display: none;
	}

	.profile-image,
	.profile-user-settings,
	.profile-bio,
	.profile-stats {
		float: none;
		width: auto;
	}

	.profile-image img {
		width: 7.7rem;
	}

	.profile-user-settings {
		flex-basis: calc(100% - 10.7rem);
		flex-wrap: wrap;
		margin-top: 1rem;
	}

	.profile-edit-btn {
		order: 1;
		margin-left: 10px;
		padding: 5px;
		text-align: center;
		margin-top: 1rem;
		transition: background-color .5s;
	}

	.profile-edit-btn:hover {
		color: white;
		background-color: #777;
	}

	.profile-bio {
		margin-top: 1.5rem;
	}

	.profile-edit-btn,
	.profile-bio,
	.profile-stats {
		flex-basis: 100%;
	}

	.profile-stats {
		order: 1;
		margin-top: 1.5rem;
	}

	.profile-stats ul {
		display: flex;
		text-align: center;
		padding: 1.2rem 0;
		border-top: 0.1rem solid #dadada;
		border-bottom: 0.1rem solid #dadada;
	}

	.profile-stats li {
		flex: 1;
		margin: 0;
	}

	.profile-stat-count {
		display: block;
		font-family: "Open Sans", Arial, sans-serif;
	}
}

#video_overlays {
	position: absolute;
	width: 100px;
	color: white;
	background-color: transparent;
	z-index: 300000;
	bottom: 40px;
	margin-left: 45%;
	text-align: center;
}

#video_overlays:hoover {
	background-color: grey;
}

/* Img studio */

.snapshot-filter {
	position: absolute;
	left: 0;
	bottom: 0;
}